footer {
  background-color: #000000;
  padding: 44px 0;
  @include breakpoint(small only) {
    text-align: center;
  }
}

.footer {
  &-main {
    color: #ffffff;
    font-size: 24px;
  }
  &-gray {
    color: #e7e7e7;
    margin-bottom: 11px;
  }
  &-right {
    text-align: right;
    @include breakpoint(small only) {
      text-align: center;
    }
  }
}
